body{
margin: 0px;
background-image:url(Images/download.jpg);
}
.wrap{
width: 800px;
height: 1000px;
position: relative;
margin: auto;
background: #e3e3e3;
}
.box{
width:250px;
height:70px;
margin:auto;
background:#ff8c00;
position: absolute;
left: -35px;
top: 30px;
box-shadow:-17px 10px #FF4500;
}
.topbox{
width:800px;
height:170px;
background:lightblue;
poistion:absolute;
left:0px;
right:0px;
}
.heading{
font-size:75pt;
font-family:"palatino linotype", serif;
position:absolute;
left: 270px;
top: 0px;
}
.content{
font-family:"palatino linotype", serif;
font-size:15pt;
font-weight:400;
position:absolute;
left:30px;
top:190px;
right:30px;
}
.sidebar{

}