body{
    background-image:url(Images/download.jpg);
    background-color:gray;
    font-family:"palatino linotype", serif;
    color:darkslategrey;
}
.MainTextBox{
    background-color:darkslategrey;
    border-style: groove;
    border-width:4px;
    color:darkorange;
    width:800px;
    margin-left:550px;
}
div{
    border-style: groove;
    border-width:4px;
p{
    border-style: groove;
    border-width:4px;
}